body {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
}

.cabecalho_container {
    height: 15vh;
    background-color: #1E6091;
    display: flex;
    align-items: center;
    padding: 0 10vw;
    justify-content: space-between;
   
}

.logo {
    height: 13vh;
    
}

.cabecalho_frase {
    font-size: 1.1rem;

}

h2 {
    font-size: 3rem;

}

.cabecalho_hora {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

@media screen and (max-width: 500px) {
    .cabecalho_container{
        height: 20.5vh;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .logo {
        height: 7.5vh;
    }


    h2 {
        font-size: 2rem;
        margin-bottom: 0.2rem;
    
    }

    .cabecalho_hora {
        font-size: 1rem;
        display: flex;
        flex-direction: row;
        column-gap: 10px;
        margin-bottom: 1rem;    
    }
    
}

