.cards_container {
    display: flex;
}

.cards_centro {
    width: calc(100vw - 15vh);
    text-align: center;
    font-size: 3rem;
    background-color: rgb(188, 199, 223);
}

.cards_inicio {
    text-align: center;
    margin-top: calc(50vh - 7rem);
    
}

.cards_iniciosub {
    font-size: 1.2rem;

}

/*__________________Cards Adicionados________________*/

.cards_container{
    position: relative;
   

}

.card_linhas {
    position: absolute;
    text-align: center;
    top: -80vh;
    left: 22.5vh;
    height: auto;
    width: 85vw;
    background-color: rgb(124, 152, 243);   
    display: flex;
    margin: 1rem auto;
    
}

.card_ad {
    border-radius: 30px;
    box-sizing: border-box;
    margin: 1rem;
    background-color: wheat;
    width: calc(85vw / 5 - (2rem) );
    height: 30vh;

}