.cards_container {
    display: flex;
}

.cards_centro {
    width: calc(100vw - 15vh);
    text-align: center;
    font-size: 3rem;
    background-color: rgb(188, 199, 223);
}

.cards_inicio {
    text-align: center;
    margin-top: calc(50vh - 7rem);
    
}

.cards_iniciosub {
    font-size: 1.2rem;

}